<div class="container">
<h1>All Users</h1>
<% @user.each do |a| %>
  <p>First Name: <%= a.first_name %>
  <p>Last Name: <%= a.last_name %>
  <p>Email Address: <%= a.email %>
  <p>University or School: <%= a.university_or_school %>
<% end %>
</div>
