<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CO2 Destroyer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center gray-text text-lighten-2">CO2 Destroyer</h1>
        <div class="row center">
          <h3 class="header col s12 light">Collect trees by measuring their atmospheric impact.</h3>
        </div>
        <div class="row center">
          <a href="trees/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Collect a Tree</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="trees-sky.jpg" alt="Trees and sky"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">polymer</i></h2>
            <h5 class="center">Learn about Carbon Sequestration</h5>

            <p class="light">Trees are the simplest way to combat the rising amounts of CO2, which is harmful for the atmosphere. The massive trunk of an ancient oak or redwood can actually many tons of sequestered carbon.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">swap_vertical_circle</i></h2>
            <h5 class="center">Measuring the Diameter at Breast Height</h5>

            <p class="light">Diameter at breast height, or DBH, is the standard for measuring trees. DBH refers to the tree's diameter measured at 4.5 feet above the ground. If you don't have access to a specially calibrated diameter tape, there are other options more measuring the DBH.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Identifying Tree Species</h5>

            <p class="light">Add trees by their name, and even their species. You can identify trees by their leaves, bark, or flowers. Don't know how to identify tree species? Read our guide for instructions and tools.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Collect the most trees!</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="yellow-leaves.jpg" alt="Yellow Leaves"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Calculating the Carbon Sequestration of Trees</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Destroy the most CO2!</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="pink-leaves.jpg" alt="Pink Leaves"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">Here is info about the project.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="#!">Determine Tree Species</a></li>
            <li><a class="white-text" href="#!">Measure Diameter at Breast Height</a></li>
            <li><a class="white-text" href="#!">More Resources</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Create a New Account</a></li>
            <li><a class="white-text" href="#!">Edit Your Account</a></li>
            <li><a class="white-text" href="#!">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
